.features {
  padding: 4rem 0;
}

.feature {
  margin-bottom: 2rem;
}

.featureCard {
  height: 100%;
}

.featureIcon {
  font-size: 2rem;
}

.featureThumbnail {
  border-radius: 14px;
  border: 0.5px solid #8882;
}
