.features {
  padding: 4rem 0;
}

.feature {
  margin-bottom: 2rem;
}

.featureCard {
  background-color: var(--ifm-card-background-color);
  border-radius: var(--ifm-card-border-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  overflow: hidden;
}

.featureCardBody {
  margin: var(--ifm-card-vertical-spacing) var(--ifm-card-horizontal-spacing);
}

.featureIcon {
  font-size: 2rem;
}

.featureThumbnail {
  display: block;
  border: 0.5px solid #8882;
}
