<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enforcedRuleSet</key>
	<dict>
		<key>kind</key>
		<string>RedirectList</string>
		<key>bundleID</key>
		<string>io.github.mshibanami.RedirectWebForSafari</string>
		<key>formatVersion</key>
		<string>5</string>
		<key>redirects</key>
		<array>
			<dict>
				<key>kind</key>
				<string>Redirect</string>
				<key>type</key>
				<string>originalRedirect</string>
				<key>title</key>
				<string>No.1 Enforced Rule</string>
				<key>sourceURLPattern</key>
				<dict>
					<key>type</key>
					<string>wildcard</string>
					<key>value</key>
					<string>https://example.com/1</string>
				</dict>
				<key>destinationURLPattern</key>
				<string>https://google.com/search?q=1</string>
				<key>isEnabled</key>
				<true/>
				<key>comments</key>
				<string></string>
				<key>commentsOptions</key>
				<dict>
					<key>format</key>
					<string>plainText</string>
				</dict>
				<key>exampleURLs</key>
				<array>
					<string></string>
				</array>
				<key>excludeURLPatterns</key>
				<array/>
				<key>captureGroupProcesses</key>
				<array/>
				<key>targetBrowserOptions</key>
				<dict>
					<key>browsers</key>
					<array/>
					<key>selectionType</key>
					<string>including</string>
				</dict>
			</dict>
			<dict>
				<key>kind</key>
				<string>Redirect</string>
				<key>type</key>
				<string>originalRedirect</string>
				<key>title</key>
				<string>No.2 Enforced Rule</string>
				<key>sourceURLPattern</key>
				<dict>
					<key>type</key>
					<string>wildcard</string>
					<key>value</key>
					<string>https://example.com/2</string>
				</dict>
				<key>destinationURLPattern</key>
				<string>https://google.com/search?q=2</string>
				<key>isEnabled</key>
				<true/>
				<key>comments</key>
				<string></string>
				<key>commentsOptions</key>
				<dict>
					<key>format</key>
					<string>plainText</string>
				</dict>
				<key>exampleURLs</key>
				<array>
					<string></string>
				</array>
				<key>excludeURLPatterns</key>
				<array/>
				<key>captureGroupProcesses</key>
				<array/>
				<key>targetBrowserOptions</key>
				<dict>
					<key>browsers</key>
					<array/>
					<key>selectionType</key>
					<string>including</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>prefilledRuleSet</key>
	<dict>
		<key>kind</key>
		<string>RedirectList</string>
		<key>bundleID</key>
		<string>io.github.mshibanami.RedirectWebForSafari</string>
		<key>formatVersion</key>
		<string>5</string>
		<key>redirects</key>
		<array>
			<dict>
				<key>kind</key>
				<string>Redirect</string>
				<key>type</key>
				<string>originalRedirect</string>
				<key>title</key>
				<string>No.1 Prefilled Rule</string>
				<key>sourceURLPattern</key>
				<dict>
					<key>type</key>
					<string>wildcard</string>
					<key>value</key>
					<string>https://example.com/3</string>
				</dict>
				<key>destinationURLPattern</key>
				<string>https://google.com/search?q=3</string>
				<key>isEnabled</key>
				<true/>
				<key>comments</key>
				<string></string>
				<key>commentsOptions</key>
				<dict>
					<key>format</key>
					<string>plainText</string>
				</dict>
				<key>exampleURLs</key>
				<array>
					<string></string>
				</array>
				<key>excludeURLPatterns</key>
				<array/>
				<key>captureGroupProcesses</key>
				<array/>
				<key>targetBrowserOptions</key>
				<dict>
					<key>browsers</key>
					<array/>
					<key>selectionType</key>
					<string>including</string>
				</dict>
			</dict>
			<dict>
				<key>kind</key>
				<string>Redirect</string>
				<key>type</key>
				<string>originalRedirect</string>
				<key>title</key>
				<string>No.2 Prefilled Rule</string>
				<key>sourceURLPattern</key>
				<dict>
					<key>type</key>
					<string>wildcard</string>
					<key>value</key>
					<string>https://example.com/4</string>
				</dict>
				<key>destinationURLPattern</key>
				<string>https://google.com/search?q=4</string>
				<key>isEnabled</key>
				<true/>
				<key>comments</key>
				<string></string>
				<key>commentsOptions</key>
				<dict>
					<key>format</key>
					<string>plainText</string>
				</dict>
				<key>exampleURLs</key>
				<array>
					<string></string>
				</array>
				<key>excludeURLPatterns</key>
				<array/>
				<key>captureGroupProcesses</key>
				<array/>
				<key>targetBrowserOptions</key>
				<dict>
					<key>browsers</key>
					<array/>
					<key>selectionType</key>
					<string>including</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>organizationName</key>
	<string>Example Inc.</string>
	<key>managedConfigVersion</key>
	<string>1.2.3</string>
	<key>showsLibrarySection</key>
	<false/>
</dict>
</plist>
